<%@posts.each do |post|%>
  <div id = "post<%=post.id%>" class = "post-container">
    <li>
      <div class = "vote-button"><a href = "/posts/<%=post.id%>/vote" >^</a>
      </div>
      <div class = "post">
      <div class = "post-title"><a href = "<%=post.url%>"><%=post.title%></a>
      </div>
      <div class = "post-info"><section class = "points"><%=post.votes%></section> points by <a href = "/users/<%=post.submitter.id%>"><%=post.submitter.username%></a> <%=post.age%><%if post.age != 1%> hours ago<%else%> hour ago<%end%> | <a href="/posts/<%=post.id%>"><%=post.comments.count%> comments</a> | <a href = "/posts/<%=post.id%>/delete" class = "delete">delete post</a></div>
      </div>
  </div>
<%end%>
