<%comments.each do |comment|%>
  <div class = "comment">
    <div class = "comment-title">
    <div class = "comment-vote-button"><a href = "/comments/<%=comment.id%>/vote" >^</a></div>
    <div class = "comment-info">by <a href="/users/<%=comment.commenter.id%>"><%=comment.commenter.username%></a> <%=comment.age%> hours ago</div>
    </div>
    <div class = "comment-body"><%=comment.body%></div>
  </div>
<%end%>
